body,
html {
  padding: 0;
  margin: 0;
  background-color: #fff;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    "Microsoft YaHei", DengXian, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  word-wrap: break-word;
  color: #111;

  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow-wrap: break-word;
}

a {
  font-weight: 500;
  color: #2a7ae2;
  text-decoration: none;
}
a:hover {
  color: #111;
  text-decoration: underline;
}
p a code {
  font-weight: 400;
  color: #1756a9;
}

kbd {
  background: #eee;
  border: 0.15rem solid #ddd;
  border-bottom: 0.25rem solid #ddd;
  border-radius: 0.15rem;
  padding: 0 0.15em;
}

blockquote {
  font-size: 1rem;
  color: #999;
  border-left: 0.2rem solid #dfe2e5;
  margin: 1rem 0;
  padding: 0.25rem 0 0.25rem 1rem;
}
blockquote > p {
  margin: 0;
}

ol,
ul {
  padding-left: 1.2em;
}
strong {
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.25;
}

h1 {
  font-size: 2.2rem;
}
h2 {
  font-size: 1.65rem;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid #eaecef;
}
h3 {
  font-size: 1.35rem;
}

code,
kbd {
  font-family: Consolas, "Source Code Pro", "Liberation Mono", Courier,
    "Microsoft YaHei", monospace;
}
p,
ul,
ol {
  line-height: 1.7;
}
hr {
  border: 0;
  border-top: 1px solid #eaecef;
}
table {
  border-collapse: collapse;
  margin: 1rem 0;
  display: block;
  overflow-x: auto;
}
tr {
  border-top: 1px solid #dfe2e5;
}
tr:nth-child(2n) {
  background-color: #f6f8fa;
}
td,
th {
  border: 1px solid #dfe2e5;
  padding: 0.6em 1em;
}

mark {
  background-color: #ff0;
  color: #000;
}

img,
video {
  display: block;
  max-width: 100%;
  /* vertical-align: middle; */
  /* margin: 16px 0; */
}

pre {
  line-height: 1.4;
  padding: 1.25rem 1.5rem;
  margin: 0.85rem 0;
  background-color: #282c34;
  border-radius: 6px;
  overflow-x: auto;
}
pre > code {
  color: #ccc;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  tab-size: 4;
  hyphens: none;
}
p code {
  color: #476582;
  padding: 0.25rem 0.5rem;
  margin: 0;
  font-size: 0.85em;
  background-color: #f6f8fa;
  border-radius: 3px;
}

/* 
 * Layout
 */

.wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 32px;
}
@media screen and (max-width: 960px) {
  .wrapper {
    padding: 0 16px;
  }
}

.site-header {
  border-top: 5px solid #424242;
  border-bottom: 1px solid #e8e8e8;
  min-height: 55.95px;
  line-height: 54px;
  position: relative;
}
.site-title {
  font-size: 1.625rem;
  font-weight: 300;
  font-family: Consolas, "Source Code Pro", "Liberation Mono", Courier,
    "Microsoft YaHei", monospace;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
  padding-right: 45px;
}
.site-title,
.site-title:visited {
  color: #424242;
}
.site-nav {
  position: static;
  float: right;
  top: 9px;
  right: 15px;
  background-color: inherit;
  border: none;
  text-align: right;
}
.site-nav .page-link {
  color: #111;
  line-height: 1.5;
  display: inline;
  padding: 0;
  margin-left: auto;
  background: none;
  border: none;
  outline: none;
}
.site-nav .page-link:hover {
  text-decoration: underline;
  cursor: pointer;
}
.site-nav .page-link:not(:last-child) {
  margin-right: 20px;
}
.site-nav input[type="file"] {
  display: none;
}

main {
  padding: 30px 0;
  flex: 1 0 auto;
}
.post-content {
  margin-bottom: 100px;
  flex: 1 0 auto;
}
/* .post-content h1, */
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  margin-top: -3.1rem;
  padding-top: 4.6rem;
  margin-bottom: 0;
}

/* custem */

.button {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 1rem 0;
  padding: 0.85em 1em;
  border: 1px solid transparent;
  border-radius: 0;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  font-family: inherit;
  font-size: 0.9rem;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  background-color: #1779ba;
  color: #fefefe;
}
.button:hover,
.button:focus {
  background-color: #14679e;
  color: #fefefe;
}

[type="text"],
[type="password"],
textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 2.4375rem;
  margin: 0 0 1rem;
  padding: 0.5rem;
  border: 1px solid #cacaca;
  border-radius: 0;
  background-color: #fefefe;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  font-family: inherit;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #0a0a0a;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
  appearance: none;
}
[type="text"]:focus,
[type="password"]:focus,
textarea:focus {
  outline: none;
  border: 1px solid #8a8a8a;
  background-color: #fefefe;
  box-shadow: 0 0 5px #cacaca;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
}

textarea {
  max-width: 100%;
  height: 460px;
}

input:disabled,
input[readonly],
textarea:disabled,
textarea[readonly] {
  background-color: #e6e6e6;
  cursor: not-allowed;
}

[type="submit"],
[type="button"] {
  appearance: none;
  border-radius: 0;
}

::placeholder {
  color: #cacaca;
}

[type="file"] {
  margin: 0 0 1rem;
  width: 100%;
}

label {
  position: relative;
}
main label {
  display: block;
  margin: 0;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.8;
  color: #0a0a0a;
}

.assets,
.upload {
  position: relative;
}
.pointer {
  text-decoration: underline;
  cursor: pointer;
}
.upload {
  margin-bottom: 1rem;
}
.upload > input[type="file"] {
  margin: 0;
}
.progress {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
}

.log textarea {
  height: 140px;
  resize: none;
}
.log sub > span {
  cursor: pointer;
  user-select: none;
}
